.datatable-mobile-title {
    display: none;
}

@media (max-width: 768px) {
    .ngx-datatable.responsive {
        datatable-header {
            display: none !important;
        }
    
        datatable-scroller {
            width: 100% !important;
    
            datatable-row-wrapper {
                &:nth-child(odd) {
                    datatable-body-cell {
                        background: #ffffff;
                    }
                }
    
                &:nth-child(even) {
                    datatable-body-cell {
                        background: #f9f9f9;
                    }
                }
    
                datatable-body-row,
                .datatable-row-group,
                .datatable-body-row {
                    display: block !important;
                    width: 100% !important;
                }
    
                datatable-body-cell { 
                    float: left !important;
                    display: block !important;
                    width: 100% !important;
                    border: none;
                    border-bottom: 1px solid #eee; 
                    position: relative;
                    padding-left: 50%; 
                    white-space: normal;
                    text-align:left;
    
                    .datatable-body-cell-label {
                        text-align: right;
                    }
                }
            }
        }
    
        datatable-footer {
        .datatable-footer-inner {
            display: block !important;
            text-align: center;
    
            & > .btn-group {
                margin: 10px 0 !important;
                display: inline-block !important;
                padding: 0 !important;
                text-align: center !important;
    
                .btn {
                    float: left;
                    vertical-align: top;
                }
            }
    
            & > .page-count {
                float: left !important;
                width: 100% !important;
                height: 30px;
                line-height: 30px;
                margin: 0 !important;
                display: block !important;
                padding: 0 !important;
            }
    
            & > datatable-pager {
                float: left !important;
                width: 100% !important;
                margin: 10px 0 !important;
                display: block !important;
                padding: 0 !important;
                text-align: center !important;
    
                .pager {
                    li {
                        float: left;
                        vertical-align: top;
                    }
                }
            }
        }
        }
    
        .ngx-datatable .datatable-footer .datatable-pager .pager {
            display: inline-block !important;
        }

        .datatable-mobile-title {
            display: block;
            float: left;
        }
    }
  }